<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <h2>
        Lista de contatos 
        <a href="/cadastrar" class="btn-floating btn-large waves-effect waves-light red">
            <i class="material-icons">add</i>
        </a>
    </h2>
    <table class="striped">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Telefone
                </th>
                <th>
                    Email
                </th>
                <th>
                    Endereço
                </th>
                <th>
                    Editar
                </th>
                <th>
                    Deletar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="listaContatos : ${listaContatos}">
                <td data-th-text="${listaContatos.nome}"></td>
                <td data-th-text="${listaContatos.num_tel}"></td>
                <td data-th-text="${listaContatos.email}"></td>
                <td data-th-text="${listaContatos.endereco}"></td>
                <td>
                   <center><a th:href="@{atualizarForm/{id}(id=${listaContatos.id})}" th:method="get"> <i class="material-icons">edit</i></a></center>
                </td>
                <td>
                    <center><a th:href="@{deletar/{id}(id=${listaContatos.id})}" th:method="delete"><i class="material-icons">delete</i></a></center>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <a href="/cadastrar"><button>Cadastrar</button></a> -->
    </div>
</body>
</html>